.App {
  width: 1900px;
  height: 980px;
  display: flex;
  background-color: steelblue;
  justify-content: center;
  align-items: center;
}
.Block {
  width: 500px ;
  height: 420px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 10px solid darkgreen;
  margin: 100px;
}

.display {
  height: 250px;
  width: 450px;
  background-color: darkblue;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 10px solid darkgreen;



}
.counter {
  margin: 50px;;
  height: 150px;
  width: 450px;
  display: flex;
  background-color: dodgerblue;
  border-radius: 40px;
  justify-content: space-between;
  align-items: center;
  border: 10px solid darkgreen;

}
.DisplayNum {
  color: black;
  font-size: xxx-large;
  height: 100px;
  width: 100px;
  display: flex;
  margin-left: 50px;


}
.DisplayRed {
  color: red;
  font-size: xxx-large;
}
.Button__counter {
  height: 100px;
  width: 150px;
  border-radius: 40px;
  color: darkblue;
  font-size: xxx-large;
  border: 2px solid;
}

.SuperInput {
  display: flex;
  color: gold;
  
}